
<link href="~/css/AdminPageStyles.css" rel="stylesheet" />

<div class="card" style="width:18rem;">
    <div class="card-header">
        Actions
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="adminAction" asp-action="AddProduct" asp-controller="Products">
                Add Product
            </a>
        </li>
        <li class="list-group-item">
            <a class="adminAction" asp-action="AddPromotion" asp-controller="Products">
                Add Promotions
            </a>
        </li>
        <li class="list-group-item">
            <a class="adminAction" asp-action="Index" asp-controller="Category">
                Create category
            </a>
        </li>
        <li class="list-group-item">
            <a class="adminAction" asp-action="Index" asp-controller="Colors">
                Add color
            </a>
        </li>
    </ul>
</div>

     