<div class="card-header">
    <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Category">
                View Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddCategory" asp-controller="Category">
                Create Category
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="EditCategory" asp-controller="Category">
                Edit Category
            </a>
        </li>
    </ul>
</div>