<div class="card-header">
    <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Color">
                View Colors
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddColor" asp-controller="Color">
                Add color
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="EditColor" asp-controller="Color">
                Edit color
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="DeleteColor" asp-controller="Color">
                Delete color
            </a>
        </li>
    </ul>
</div>