<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-left:-8rem;margin-top:2rem">
            <partial name="_ActionsDisplayPartial" />

        </div>
        <div class="col-md-10" style="margin-left:8rem;margin-top:2rem">
            <div class="card">
                <partial name="_ColorDisplayPartial" />
                <div class="card-body">
                    <div class="row">
                       colors
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
