@model OnlineStore.ViewsModel.RegisterViewModel;
<link href="~/css/LoginStyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "User Registration";
}
<div class="header-section">
    <img src="~/images/category.jpg.webp" asp-append-version="true" class="img-fluid headerImg" alt="headerImg" />
    <p class="text">Login</p>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-lg-6">
            left column
        </div>
        <div class="col-lg-6">
            right column
        </div>
    </div>
</div>