@model OnlineStore.ViewsModel.CategoryViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-left:-8rem;margin-top:2rem">
            <partial name="_ActionsDisplayPartial" />

        </div>
        <div class="col-md-10" style="margin-left:8rem;margin-top:2rem">
            <div class="card">
                <partial name="_CategoryDisplayPartial" />
                <div class="card-body">
                    <form method="post" asp-controller="Category" asp-action="AddCategory">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="CategoryName" type="text" class="form-control" placeholder="Category Name" />
                        </div>
                        <div class="form-group">
                            <input  type="file" asp-for="Image" />
                        </div>
                        <div class="form-group">
                            <button class="btn  btn-primary text-uppercase" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 