@model OnlineStore.ViewsModel.CategoryViewModels.CategoryEditViewModel
@{

    ViewBag.Title = "Edit Category";
}
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-left:-8rem;margin-top:2rem">
            <partial name="_ActionsDisplayPartial" />

        </div>
        <div class="col-md-10" style="margin-left:8rem;margin-top:2rem">
            <div class="card">
                <partial name="_CategoryDisplayPartial" />
                <div class="card-body">
                    <form enctype="multipart/form-data" method="get" asp-controller="Category" asp-action="EditCategory">
                        <input hidden asp-for="CategoryId" />
                        <input hidden asp-for="ExistingPhotoPath" />
                        <div class="form-group">
                            <input asp-for="CategoryName" type="text" class="form-control" placeholder="Category Name" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="custom-file">
                            <label asp-for="Image" class="custom-file-label">Click here to change photo</label>
                            <input asp-for="Image" class="form-control custom-file-input" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <img src="~/@Model.ExistingPhotoPath" style="width:40%;height:30%;" asp-append-version="true" alt="@Model.CategoryName" />
                        <div class="form-group">
                            <button class="btn  text-white mt-4"  style="background-color: black; cursor: pointer;" type="submit">Update</button>
                            <a class="btn mt-4 text-white" style="background-color:black" asp-action="Index" asp-controller="Category">Cancel</a>
                        </div>

                        @section Scripts{
                            <script language="javascript">
                                $(document).ready(function () {
                                    $('.custom-file-input').on("change", function () {
                                        var fileName = $(this).val().split("\\").pop();
                                        $('.custom-file-label').text(fileName);
                                    })
                                });
                            </script>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 