@model IEnumerable<OnlineStore.ViewsModel.CategoryViewModels.CategoryViewModel>;
<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-left:-8rem;margin-top:2rem">
            <partial name="_ActionsDisplayPartial" />

        </div>
        <div class="col-md-10" style="margin-left:8rem;margin-top:2rem">
            <div class="card">
                <partial name="_CategoryDisplayPartial" />
                <div class="card-body">
                    <div class="row">
                        @{
                            foreach (var category in Model)
                            {
                                <div class="col-md-6 col-xl-4 ml-auto mr-auto abc">
                                    <div class="categoryTitle">@category.CategoryName</div>
                                    <img src=@category.Image asp-append-version="true" class="img-fluid  cardImg" />
                                    <a class="btn mt-3 text-white" style="background-color:black" asp-action="EditCategory" asp-controller="Category" asp-route-Id="@category.CategoryId">Edit</a>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

