@model OnlineStore.ViewsModel.HomeViewModel 
<link href="~/css/site.css" rel="stylesheet" />
<div class="image">
  
<p>
    <h3 class="title">Women Collection 2021</h3>
    <h3 class="subTitle">NEW SEASON</h3>
    <a asp-action="Index" asp-controller="Shop" class="btn shopBtn">SHOP NOW</a>
</p>
</div>
<div class="container">
    <div class="row">
        @{ 
            foreach(var category in Model.categories)
            {
                <div class="col-lg-3 col-md-4 col-sm-2 ml-lg-auto ">

                    <div class="card categoryCard" style="padding: 10px;">
                        <div class="card-title categoryTitle">@category.CategoryName</div>
                        <div class="card-body">
                            <div class="card-img">
                                <img src=@category.Image asp-append-version="true" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
 