@model OnlineStore.ViewsModel.HomeViewModel 
<link href="~/css/site.css" rel="stylesheet" />
<div class="image">
  
<p>
    <h3 class="title">Women Collection 2021</h3>
    <h3 class="subTitle">NEW SEASON</h3>
    <a asp-action="Index" asp-controller="Shop" class="btn shopBtn">SHOP NOW</a>
</p>
</div>
<div class="container">
    <div class="row">

        @{
            foreach (var category in Model.categories)
            {
                <div class="col-md-6 col-xl-4 ml-auto mr-auto abc" style="padding-bottom:30px">

                    <a class="categoryLink" asp-action="Products" asp-controller="Products" asp-route-id="@category.CategoryId">
                        <div class=" categoryTitle">@category.CategoryName</div>
                        <img src=@category.Image asp-append-version="true" class="img-fluid  cardImg" />

                    </a>

                </div>
            }
        }

    </div>
    <h2 class="titleOverview ">PRODUCT OVERVIEW</h2>
</div>
 